@using System.Net
@inject IRageApiService RageApiService
@inject RedirectService RedirectService
@inject IJSRuntime JS
@inject IStringLocalizer<App> Localizer

<div>
    <div class="card-header">
        @Localizer["label_create_account"]
    </div>
    <div class="card-body">
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <div class="form-group mb-3">
                <div class="form-floating">
                    <input placeholder="@Localizer["label_email_address"]" @ref="inputEmailElement" type="email" class="form-control" id="email" required @bind-value="Model.Email">
                    <label for="email">@Localizer["label_email_address"]</label>
                </div>
            </div>
            <div class="form-group mb-3">
                <div class="form-floating">
                    <input placeholder="@Localizer["label_password"]" type="password" class="form-control" id="password" required @bind-value="Model.Password">
                    <label for="password">@Localizer["label_password"]</label>
                </div>
            </div>

           
            <!-- Wizard Buttons -->
            <div class="d-flex justify-content-end mb-3 wizard-buttons">
                <button type="button" class="btn btn-secondary me-2" @onclick="HandleBackClick">
                    @Localizer["label_back"]
                </button>
                <div>
                    <button type="submit" class="btn btn-primary">@Localizer["label_next"]</button>
                </div>
            </div>
        </EditForm>
        @if (Model?.Manifest?.SocialIdps != null && Model.Manifest.SocialIdps.Count > 0)
        {
            <!-- Separator -->
            <hr />
            <!-- Paragraph -->
            <p class="text-center">@Localizer["message_or_create_an_account_with_a_social_provider"]</p>
        
            <div class="d-flex justify-content-center social-buttons">
               
            @foreach (var idp in Model.Manifest.SocialIdps)
            {
                <button type="button" class="btn btn-info d-flex align-items-center justify-content-center m-1 social-btn" @onclick="() => HandleSocialLoginButtonClick(idp.Slug)">
                    <img src="@idp.Slug-logo.png" alt="@idp.Name" class="social-logo">
                    <span class="social-name d-none d-sm-inline ms-2">@idp.Name</span>
                </button>
            }           
            </div>
        }
    </div> 
</div>

@code {
    private ElementReference inputEmailElement;

    [Parameter]
    public EventCallback<string> ShowInfoMessage { get; set; }
    [Parameter]
    public EventCallback<OIDCPage> SetStep { get; set; }

    [CascadingParameter]
    public OIDCModel Model { get; set; }



    private async Task HandleSocialLoginButtonClick(string slug)

    {
        // Handle the button click event here
        Console.WriteLine($"HandleSocialLoginButtonClick: {slug}");
        var request = new StartExternalLoginRequest
            {
                Slug = slug,
                Directive = "signup"
            };
        var wrapper = await RageApiService.StartExternalLoginAsync(request);
        if (wrapper == null)
        {
            // show info message
            await ShowInfoMessage.InvokeAsync(Localizer["message_unknown_error"] + ": suu:001");
            return;
        }
        var response = wrapper?.Response;

        if (response != null)
        {
            Console.WriteLine($"Response: {response}");
            RedirectService.RedirectToUrl(response.RedirectUri);
        }
    }
    private async void HandleSigninClick()
    {
        // Handle the signup button click event here
        Console.WriteLine("SigninUserName button clicked");
        // Call SetStep with the desired step value
        await SetStep.InvokeAsync(OIDCPage.SigninUserName);
    }
    private void HandleForgotPasswordClick(){
        Console.WriteLine("HandleForgotPasswordClick Up button clicked");
    }
    private async void HandleBackClick()
    {
        // Handle the signup button click event here
        Console.WriteLine("back button clicked");
        // Call SetStep with the desired step value
        await SetStep.InvokeAsync(OIDCPage.SigninUserName);
    }
    private async void HandleValidSubmit()
    {
        // Handle the next button click event here
        Console.WriteLine("Next button clicked");
        var request = new SignupRequest
        {
            Email = Model.Email,
            Password = Model.Password
        };
        var wrapper = await RageApiService.SignupRequestAsync(request);
        if (wrapper == null)
        {
            // show info message
            await ShowInfoMessage.InvokeAsync(Localizer["message_unknown_error"] + ": suu:000");
            return;
        }
        var statusCode = wrapper.StatusCode;
        var response = wrapper.Response;
        switch (statusCode)
        {
            case HttpStatusCode.Found:
                await ShowInfoMessage.InvokeAsync(Localizer["message_user_already_exists"]);
                await SetStep.InvokeAsync(OIDCPage.SigninUserName);
                return;
            case HttpStatusCode.OK:

                if (response.DirectiveEmailCodeChallenge != null)
                {
                    await SetStep.InvokeAsync(OIDCPage.VerifyCode);
                }
                else
                {
                    await SetStep.InvokeAsync(OIDCPage.SigninUserName);
                }

                return;
        }
       
        if (response != null)
        {
            var message = Localizer["message_unknown_error"];
            switch (response?.ErrorReason)
            {
                case SignupErrorReason.SignupErrorReason_NoError:
                    await SetStep.InvokeAsync(OIDCPage.SigninUserName);
                    return;
                case SignupErrorReason.SignupErrorReason_InvalidPassword:
                    message = Localizer["message_invalid_password"];
                    await ShowInfoMessage.InvokeAsync(message);
                    break;

                case SignupErrorReason.SignupErrorReason_UserAlreadyExists:
                    message = Localizer["message_user_already_exists"];
                    await ShowInfoMessage.InvokeAsync(message);
                    await SetStep.InvokeAsync(OIDCPage.SigninUserName);
                    return;
                default:
                    await ShowInfoMessage.InvokeAsync(message);
                    break;
            }
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("setFocus", inputEmailElement);
        }
    }
}
